#change-password-btn{
    margin-top: 12px;
    padding: 6px;
    border-radius: 16px;
    font-size: 20px;
    overflow: hidden;
}
.id-card{
    border: 2px solid black;
    border-radius: 14px;
    margin: min(64px,6.4vw);
    padding: 6px;
    box-shadow: 2px 0px 2px 2px black;
    display: flex;
    flex-direction: row;
    height: 80vh;
}
.stats-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 12px;
    margin-left: 12px;
}
.stats-banner{
    display: block;
    text-align: center;
    font-size: 24px;
}
.description-banner{
    display: block;
    margin-top: 16px;
    font-size: 24px;
    text-align: center;
}
.description-content{
    font-size: 18px;
    margin: 12px;
}
#user-profile-big{
    max-width: 50%;
}
@media screen and (max-width:820px){
    .id-card{
        margin: 32px;
    }
    .stats-row{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width:770px){
    .stats-row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .id-card{
        flex-direction: column;
    }
    #user-profile-big{
        flex-grow: 1;
        max-width: 80%;
    }
    
}
#lock-icon{
    position: relative;
    transform: translateY(150%);
    transition: transform 0.3s ease-in-out;
}
#change-password-btn:hover #lock-icon{
    transform: translateY(0%);
}
@media screen and (min-width:671px){
    .main-content{
        margin-left: 24vw;
    }
}