.login-btn{
    background-color: green;
    padding: 4px;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    margin-top: 16px;
}
.login-btn:hover{
    padding: 8px;
    color: white;
}
.register-btn{
    background-color: blue;
    padding: 4px;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    margin-top: 16px;
}
.register-btn:hover{
    padding: 8px;
    color: white;
}