.login-btn{
    background-color: green;
    padding: 4px;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    margin-top: 16px;
}
.login-btn:hover{
    padding: 8px;
    color: white;
}
.register-btn{
    background-color: blue;
    padding: 4px;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    margin-top: 16px;
}
.register-btn:hover{
    padding: 8px;
    color: white;
}
.form-padding{
    background-color: white;
    border-radius: 14px;
    padding: 14px;
    margin-top: 40vh;
    display: flex;
    justify-content: center;
}
#profile-img{
    max-height: 70vh;
    margin-right: 18px;
}
@media screen and (max-width:670px){
    .form-padding{
        flex-direction: column;
    }
    #profile-img{
        max-height: 55vh;
    }
}