*{
    padding: 0;
    margin: 0;

}
.mobile-btn{
    display: none;
}
.nav-bar{
    top:5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    max-height: 50px;
    padding-bottom: 6px;
    border-bottom: 1px solid black;
    background-color: white;
}
.nav-bar-padding{
    height: 50px;/*padding to prevent navbar from chipping into contents*/
}
.side-bar-slideout{
    transition: width 2s;
}
.search-bar{
    min-height: 32px;
    border-radius: 16px;
    flex-grow: 1;
    margin-left: 18px;
    margin-right: 18px;
}
.content-row{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.side-bar{
    flex-direction: column;
    display: flex;
    width: 20%;
    gap:14px;
    position: fixed;
    background-color: white;
    border-right: 1px solid black;
    height: 100%;
}
.main-content{
    margin-right: 14px;
    flex-grow: 7;
    display: flex;
    flex-direction: column;
    margin-left: 28vw;
}
.side-btn{
    min-height: 36px;
    border-radius: 12px;
    margin-right: 12px;
    margin-left: 12px;
}
@media screen and (max-width:670px){
    .main-content{
        margin-left: 0px;
    }
    .mobile-btn{
        display: inline;
    }
    .side-bar{
        transform: translateX(-100%);
        transition: transform 0.6s ease-in-out;
        will-change: transform;
        width: 60%;
    }
}
.row{
    display: flex;
    flex-direction: row;
    gap:14px;
}
.nav-login-btn{
    color: white;
    padding: 4px;
    border-radius: 8px;
    background-color: blue;
}
.nav-login-btn:hover{
    background-color: green;
}
.center-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.favorite-btn{
    transition: background-color 0.2s ease-in-out;
}
.favorite-btn:hover{
    background-color: rgb(196, 12, 83);
    color: white;
    content: "favorite";
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.favorite-btn:hover::after{
    content: url("image/favorite.svg");
    margin-left: 8px;
}
.discoveries-btn{
    transition: background-color 0.2s ease-in-out;
}
.discoveries-btn:hover{
    background-color: rgb(28, 120, 173);
    color: white;
    content: "discoveries";
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.discoveries-btn:hover::after{
    content: url("image/star.svg");
    margin-left: 8px;
}
.home-btn:hover{
    background-color: white;
    content: url('image/home_filled.svg');
    padding: 6px;
}
#username{
    display: flex;
    align-items: center;
}